healthcheckflujoprueba.txt
[{"id":"c0afce22.08ff3","type":"tab","label":"Telemetry Flow","disabled":false,"info":""},{"id":"bdf59072.01f95","type":"inject","z":"c0afce22.08ff3","name":"","topic":"","payload":"healthcheck;2","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":160,"wires":[["2999e207.aed28e"]]},{"id":"2999e207.aed28e","type":"mqtt out","z":"c0afce22.08ff3","name":"","topic":"prioridad/idconjunto/nroresidencia/dispositivo","qos":"0","retain":"","broker":"904eff5.399f1","x":580,"y":180,"wires":[]},{"id":"302c6478.17832c","type":"mqtt in","z":"c0afce22.08ff3","name":"","topic":"#","qos":"0","broker":"904eff5.399f1","x":220,"y":300,"wires":[["a0cb793a.794fb8"]]},{"id":"a0cb793a.794fb8","type":"debug","z":"c0afce22.08ff3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":480,"y":300,"wires":[]},{"id":"904eff5.399f1","type":"mqtt-broker","z":"","name":"mosquittolinux","broker":"172.24.41.162","port":"8083","tls":"897505aa.174728","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"897505aa.174728","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"m2mqtt_ca.crt","verifyservercert":false}]